
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";



.font-jersey {
  font-family: "Jersey 10", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
